* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.container {
    width: 100%;
    max-width: 1000;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,auto);
}

.container > *{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.header{
    background: #1a1a1a;
    color: whitesmoke;
    font-size: larger;
    font-weight: bolder;
    grid-column: 1/-1;
    justify-content: center;
}
.navbar{
    background: #221f3b;
    color: whitesmoke;
    font-size: small;
    font-weight: bold;
    grid-column: 1/-1;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
}
.navbar > a{
    color: whitesmoke;
    display: block;
    padding: 5px;
}
.aside{
    background: #f6f6f6;
    color: black;
    font-size: small;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: black;
}
.form > *{
    margin: 5px;
    width: 100%;
}
.form > label{
    font-size: larger;
    font-weight: normal;
    text-align: center;
}

.main{
    background: #f6f6f6;
    color: black;
    grid-column: 3/13;
    grid-row: 3/4;
    flex-flow: row wrap;
}


.footer{
    background: #12203E;
    color: whitesmoke;
    grid-column: span 12;
    grid-row: 4/5;
}

.btn{
    display: inline-block;
    font-weight: 400;
    font-size: medium;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.btn-primary{
    color: #fff;
    background-color: #6f4a8e;
    border-color: #6f4a8e;
}
.input{
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .200rem .75rem;
    border-radius: .25rem;
}

.card{
    width: 15rem;
    background-color: #ebebeb;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;

}
.card img{
    width: 100%;
    height: 150px;
    display: block;
}
.card-body{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    font-size: small;
    font-weight: normal;
    color: black;
}
.card-body > *{
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    font-size: 10px;
    font-weight: normal;
    justify-content: center;
}